/* :root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
} */

/* body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
} */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/* 
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
} */

/* .section {
  padding: 94px 0;
} */

/* .header__nav {
  display: flex;
  align-items: center;
} */

/* .header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}  */

/* LOGO */

/* .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__black {
  color: #212121;
} */

/* Site navigation */
/* .site-nav {
  display: flex;
  margin-left: 92px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
} */

/* Authorization */
/* 
.auth-nav {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: var(--accent-color);
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--accent-color);
} */

/* -------------------Студія------------------------------- */

/* .site-nav .current {
  color: var(--accent-color);
}

.site-nav .link {
  position: relative;
} */
/* 
.site-nav .link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.current::after {
  transform: scaleX(1);
}
.site-nav .link:hover::after {
  transform: scaleX(1);
} */

/* ГЕРОЙ */
/* 
.hero {
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  width: 696px;
} */
/* 
.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* 
.benefits__details {
  display: flex;
}
.benefits__item + .benefits__item {
  margin-left: 30px;
}
.benefits__item {
  width: 270px;
}
.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.benefits__paragraph {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  margin-top: 10px;
  letter-spacing: 0.03em;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* WORK */
/* 
.no-padding {
  padding-top: 0;
}

.work__images {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.work__desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.work__description {
  position: absolute;
  bottom: 0;
}
.work__items {
  position: relative;
} */

/* ---------------------* COMMAND */
/* .team {
  background-color: #f5f4fa;
}

.team__members {
  display: flex;
  gap: 30px;
}
.team__person {
  text-align: center;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__person--padding {
  padding: 30px 10px;
}

.team__social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__rank {
  color: var(--title-text-color);
  line-height: 1.18;
  margin-top: 10px;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}

.team__crew {
  margin-bottom: 50px;
}
.work__crew,
.team__crew {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* SOCIAL LINKS*/
/* 
.team__social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--primary-white-color);
}

.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-color);
} */

/* ----------------------Portfolio-------------------- */

/* Filter */
/* .button {
  font-family: inherit;
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
} */
/* 
.headline:hover,
.headline:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.headline {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;

  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Section */
/* .section-list .caption {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-list {
  width: 370px;
}

.portfolio-link {
  display: block;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-title .article {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
} */

/* img {
  display: block;
} */
/* 
.section-opacity {
  position: relative;
  overflow: hidden;
}
.section-title .opacity {
  display: block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 63px 24px;
  bottom: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transform: translateY(101%);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list:hover .opacity,
.section-list:focus .opacity {
  transform: translateY(0);
} */

/* ---------------------COMPANY--------------------- */

/* .partners__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.partners__link:hover,
.partners__link:focus {
  border-color: var(--accent-color);
}

.partners__link:hover .partners__icon,
.partners__link:focus .partners__icon {
  fill: var(--accent-color);
}

.partners__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__icon {
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ------------------------BACKDROP+MODAL------------------ */
/* 
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  fill: #000000;
  width: 11px;
  height: 11px;

  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .icon-close,
.close:focus .icon-close {
  fill: var(--accent-color);
} */

/* FORM */
/* 
.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.group-modal {
  margin-bottom: 20px;
}

.field-modal {
  display: block;

  position: relative;
}

.field-modal:not(:last-child) {
  margin-bottom: 10px;
}

.label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.input-modal {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}

.icon-modal {
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .icon-modal {
  fill: var(--accent-color);
}

.icon-modal {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.comment-modal {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}

.comment-modal::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agree-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.checkbox-modal {
  position: absolute;
  transform: scale(0);
  opacity: 0;
}

.icon-true-check {
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-modal:checked + .checkbox-icon .icon-true-check {
  opacity: 1;
}

.icon-no-check {
  opacity: 1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-modal:checked + .checkbox-icon .icon-no-check {
  opacity: 0;
}

.text-agree {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  user-select: none;
}

.text-agree-link {
  text-decoration-line: underline;
  text-underline-position: under;
  color: var(--accent-color);
} */
/* 
.modal-btn {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  margin: auto;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
} */
/* --------------------------------Footer */
/* 
.footer {
  background-color: #2f303a;
  padding: 60px 0;
} */

/* .logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__white {
  color: #ffffff;
} */
/* 
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.wrapper {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.city {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
} */
/* 
.footer-social-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.social-link-footer {
  display: block;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}
.social-icon-footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin: 12px;
} */

/* FORM */
/* .subscribe-footer {
  margin-left: 93px;
}

.signup-form {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 12px;
}
.icon-fly {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

.subscribe {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 12px;
} */
/* 
.subscribe-btn {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* .window-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}
.window-mail:focus {
  border-color: var(--accent-color);
  outline: none;
} */
