.header {
  border-bottom: 1px solid #ececec;
  &__container,
  &__nav {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// MOBILE CONTACTS

.mobile-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: column;
  border: none;
  background-color: transparent;
  color: #212121;
  margin-left: auto;
  padding: 0;
  transition: color 250ms;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:active {
    color: #2196f3;
  }
}

.mobile-btn-icon {
  fill: currentColor;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 250ms;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: 250ms color;
  &:active {
    color: var(--accent-color);
  }
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu .current {
  color: var(--accent-color);
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-social {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &:not(:first-child)::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 1px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-contact .link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contact .link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 64px;
}
