.team__social-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
    fill: var(--primary-white-color);
}

.team__social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
}

.social-link-footer {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--accent-color);
}

.social-icon-footer {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    margin: 12px;
}