.section-opacity {
    position: relative;
    overflow: hidden;
}

.section-title .opacity {
    display: block;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 63px 24px;
    bottom: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transform: translateY(101%);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list:hover .opacity,
.section-list:focus .opacity {
    transform: translateY(0);
}