.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.adress-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.wrapper {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    gap: 60px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: center;
    text-align: start;
    gap: 0px;
  }
}

.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe-footer {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and(min-width: 768px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 570px;
  }
}

.city {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
