.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__members {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &__person {
    text-align: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  &__rank {
    color: var(--title-text-color);
    line-height: 1.18;
    margin-top: 10px;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
  }
  &__crew {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.team__person--padding {
  padding: 30px 10px;
}

.team__social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.work__crew,
.team__crew {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
